biopython==1.68
cycler==0.10.0
matplotlib==1.5.3
numpy==1.21.0
pandas==0.19.1
py==1.4.31
pyparsing==2.1.10
pytabix==0.1
pytest==3.0.4
python-dateutil==2.6.0
pytz==2016.7
scikit-learn==0.16.1
scipy==0.18.1
six==1.10.0
twobitreader==3.1.4
xlwt==1.1.2
