absl-py==1.1.0
astroid==2.14.2
astunparse==1.6.3
berkeleydb==18.1.5
biopython==1.79
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.0.12
cycler==0.11.0
dill==0.3.6
et-xmlfile==1.1.0
flatbuffers==1.12
fonttools==4.33.3
gast==0.4.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
h5py==3.7.0
idna==3.3
importlib-metadata==4.11.4
isort==5.12.0
joblib==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
lazy-object-proxy==1.9.0
libclang==14.0.1
lightgbm==3.3.5
lmdb==1.3.0
lmdbm==0.0.5
Markdown==3.3.7
matplotlib==3.5.2
mccabe==0.7.0
numpy==1.22.4
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
platformdirs==3.0.0
protobuf==3.19.4
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.16.3
pyparsing==3.0.9
pytabix==0.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.0
requests-oauthlib==1.3.1
rs3==0.0.15
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
semidbm==0.5.1
seqfold==0.7.15
sglearn==1.2.5
six==1.16.0
sqlite3dbm===0.1.4-memory
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
twobitreader==3.1.7
typing-extensions==4.2.0
urllib3==1.26.9
Werkzeug==2.1.2
wrapt==1.14.1
xlwt==1.3.0
zipp==3.8.0
