@font-face
{
    font-family: "ColabBol";
    font-weight: normal;
    src: url('./Colaborate_font/ColabBol.otf');
}

@font-face
{
    font-family: "ColabLig";
    font-weight: normal;
    src: url('./Colaborate_font/ColabLig.otf');
}

@font-face
{
    font-family: "ColabMed";
    font-weight: normal;
    src: url('./Colaborate_font/ColabMed.otf');
}

@font-face
{
    font-family: "ColabReg";
    font-weight: normal;
    src: url('./Colaborate_font/ColabReg.otf');
}

@font-face
{
    font-family: "ColabThi";
    font-weight: normal;
    src: url('./Colaborate_font/ColabThi.otf');
}