/* 
    Document   : styleframe
    Created on : 18 janv. 2013, 13:43:14
    Author     : JB
    Description:
        Purpose of the stylesheet follows.
*/

html { height: auto }

body
{ 
    padding: 0;
    margin: 0; 
    margin-left:auto;
    margin-right:auto;
    
    height: auto;    
    
    font-family: ColabLig, Helvetica, Arial, sans-serif;    
    background-repeat:repeat;  
    
    font-size: 16px;
}

/* text selection background color */
::selection {background:#DDD;padding:5px;}
::-moz-selection {background:#DDD;padding:5px;}

*{ cursor: inherit;}
body.wait { cursor: wait;}

a img
{
    border:0;
    opacity:0.85;
}      
      
a:hover img
{
    opacity:1;
}
a.neutral
{
    color:inherit;    
}
a.neutral:hover
{
    color:inherit;
    opacity:0.95;
}
a, .linklike
{
    text-decoration: none;
    color: #ff7500;
}

a:hover, .linklike:hover
{
/*    color: rgb(63, 139, 181);*/
    color: #ff6000;
    cursor: pointer;
}
strong 
{
    font-family: ColabBol;
}

.logospacer  
{
/*    height:40px;*/
}

.jingle
{
/*    float: left;*/
    margin-left:130px;     
    
    font-family: ColabThi, Futura, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: inline;
/*    left:100px;
    top:-15px; */
/*    margin-left:150px;*/
    
    color: #ff7400;
    background-color: rgba(360,360,360,0.4);
/*    background-color: whitesmoke;*/
    border-radius: 5px;
    padding: 15px;
    
    -moz-box-shadow: inset 0 0 10px 5px rgba(360,360,360,0.4); 
    -webkit-box-shadow: inset 0 0 10px 5px rgba(360,360,360,0.4);
    box-shadow: inset 0 0 10px 5px rgba(360,360,360,0.4);
/*    display:inline-block;*/
}
.logotutelle
{
    marging-left: 40px;
    margin-right: 40px;
}

.footer
{
    display:inline-block;
    height:auto;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 40px;
    margin-top: 60px;

    padding-top: 20px;

    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;

    font-size: 14px;
}

div#central_wrapper
{        
    display:inline-block;
    width:100%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    
    position:relative;
}

div.header
{
    height:auto;
    width:96%;
    margin-left:auto;
    margin-right:auto;

    margin-bottom: 20px;
}

.subpanel, .subpanelintroduction, div.anchor
{
/*    border:solid thin green;*/
    float:left;
    width:100%;
    display:inline;
    
    margin-bottom:15px;
    padding:7px;
    border-radius:3px;
    height:auto;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */   
    
}
.content, .contentcentral, .blogcontent
{
    /*border: solid thin blue;*/
    height:auto;
    /*margin-top:15px;*/
    padding-top:15px;
    padding-bottom:15px;
    padding-left:  5px;
    padding-right: 5px;
    
    font-size: 18px;
    line-height: 24px;
 
    background: rgba(300, 300, 300, 1);
    color:#222222;


/*    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.contentcentral
{ 
    padding-bottom: 40px;
/*    color: #ff7400;*/
}

.panelleft, .panelright, .centralpanel, .largepanelleft
{
    height:100%;
    display:inline;    
}

.largepanelleft
{
    float: left;
    margin-left: 2%;
    margin-right: 0%;
    width: 71%;
}

.centralpanel
{
    float: left;
    margin-left: 2%;
    margin-right: 0%;
    width: 95%;
}

.panelleft
{    
    float:left;
    width:16%;
    min-width:180px;
    margin-left:2%;
    margin-right:0%;        
}

.panelright
{
    float:right;
    width:23%;
    margin-right:2%;        
}

div.slider
{        
    position:fixed;       
    width:14%;
    min-width:180px;    
    left:4.5%;    
    z-index:3000;
}

div.slider div.title
{
    font-size:medium;
}

div.panelright div.subpanel div.title
{
    font-size: 18px;
}

div.panelright div.subpanel div.content
{
    font-size: 16px;
}

div.anchor
{
    background:none;
    
    -moz-box-shadow:    none;
    box-shadow:         none;
    -webkit-box-shadow: none;
    
    margin:0;
    padding:0;
}
div.anchor:target
{    
    padding-top: 75px;        
}
 #stylized div.anchor:target div.servicepanel
{
    -moz-box-shadow:    0 0 15px 3px rgba(47, 129, 203, 0.3);
    box-shadow:         0 0 15px 3px rgba(47, 129, 203, 0.3);
    -webkit-box-shadow: 0 0 15px 3px rgba(47, 129, 203, 0.3);
}
.subpanelintroduction
{
    width: 99%;
    margin-bottom:5px;
}

.slidetitle, .title
{
    font-family: ColabLig, Futura, sans-serif;
    font-size: 20px;
    color: black;
}

.title
{
    color: #0480be; 
    margin-top: 0;
    /*margin-bottom: 5px;*/
    /*border:solid thin red;*/
/*    border-color: white;
    border-style: solid;
    border-width: thin;
    padding-bottom: 10px;
    padding-top: 10px;*/
    
/*    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );  IE6-9 */



     
/*    background-image:url('images/stripes.png');
    background-repeat:repeat;*/
/*    color: rgb(63, 139, 181);*/
}

.contacttitle
{
    font-family: ColabReg, Helvetica, Arial, sans-serif;
    color: #0480be;
}

.slidecontent
{
    font-family: ColabLig, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: black;
    line-height:24px;
}

.slidecontentadmin
{
    margin-left: 35px;
}

textarea, input[type="text"], input[type="date"], input[type="email"], input[type="password"]
{    
    padding:5px;
    
    border-radius: 5px;
    border-color: transparent;
    -moz-box-shadow: inset 0 0 5px #aacfe4;
    -webkit-box-shadow: inset 0 0 5px #aacfe4;
    box-shadow: inset 0 0 5px #aacfe4;    
}

input[type="submit"].submit
{
    float: right;  
    margin-top: 9px;
    margin-right: 20px;
}

#map-canvas
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    height: 700px; width:auto;
    
    border-radius: 5px;
}

div.admin
{    
    width: auto;
    margin-top: -15px;
    /*margin-left: 50px;*/    
    float:right;
    
    line-height: 20px;
    
    /*border: solid green;*/
}

div.adminlogin
{
    display:none;    
}

table.login td
{
    padding-left:10px;
    padding-right:10px;
    
}

.animated-text-shadow
{
    -webkit-animation:           mymove 2s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    
    animation:           mymove 2s infinite;        
    animation-direction: alternate;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove
{
    from
    {        
        text-shadow: 2px 2px 3px rgba(47, 129, 203, 0.8);
        opacity: 1;
    }
    to   
    {     
        text-shadow: 2px 2px 3px rgba(47, 129, 203, 0.3);
        opacity: 0.8;
    }
}
/* Standard syntax */
@keyframes mymove
{
    from
    {        
        text-shadow: 2px 2px 3px rgba(47, 129, 203, 0.8);
        opacity: 1;
    }
    to   
    {     
        text-shadow: 2px 2px 3px rgba(47, 129, 203, 0.3);
        opacity: 0.8;
    }
}

div.scrollingtext
{
    opacity:0.7;
}
div.scrollingtext:hover
{
    opacity:1;
}
